.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.searchBar {
  width: 80%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 28px;

  margin: 50px 0;
  border: 1px solid #b9b9b9;
  border-radius: 3px;

}

#filterContainer {
  margin: 25px 0;
}

.filters {
  margin-right: 20px;
  padding: 15px 35px;
  color: white;
}
.filters:focus {
  outline: none;
}

#filter1 {
  background-color: hsl(350, 100%, 50%);

  border: 1px solid hsl(350, 100%, 50%);
}
#filter2 {
  background-color: hsl(250, 100%, 50%);

  border: 1px solid hsl(250, 100%, 50%);
}
#filter3 {
  background-color: hsl(110, 100%, 25%);

  border: 1px solid hsl(150, 100%, 25%);
}

.articles {
  padding: 80px 0;

  width: 60%;
  max-width: 700px;
  margin: 0 auto;
}

.images {
  /*width: 60%;
  max-width: 700px;*/
  max-width: 100%;
}

.titles {
  padding-top: 10px;

  /*text-align: left;*/
}

.plainLinks {
  color: hsl(350, 100%, 50%);
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
